
*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: #3f3b6361;
    padding:0px 16px;
}
header{
    background-color:#ffc107;
    margin: auto -16px;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 black;
}
header h1{
    color: #ffffff;
    font-family: "mcLaren",cursive;
    font-weight: 200;
 }

footer{
    width: 100%;
    text-align: center;
    position: fixed;
    background-color:  #c5bab6;
    height: 2.5rem;
    bottom: 0;
 }
footer p{
    color:rgb(255, 255, 255)
 }

.note{
    
    background: url(./p1.jpg) no-repeat center center/cover;
    text-align: center;
    box-shadow: 0 0 10px 0 black;
    border-radius: 10px;
    padding: 17px 21px;
    height: -webkit-fill-available;
    border: 5px solid #4d4949;
    margin: 23px 25px;
    overflow-y: scroll;
    height: -webkit-fill-available;
}
.notep {
    background: #79716157;
    padding: 12px 23px;
    min-height: -webkit-fill-available;
    height: max-content;
}
.note::-webkit-scrollbar {
    display: none;
  }
.mh{
    text-align: center;
    padding-top: 15px;
}

.notecontainer{
  
    padding: 25px 14px;
}
.note h1{
    color: #201802;
    font-family: "mcLaren",cursive;
    font-weight: 200;
}
.note p{
    color: #333232;
    padding-top: 10px;   
    
     font-size: 1.4rem;

}
.createarea{
    padding:0px 0px;
    margin:2px 14px;
    display: flex;
    width: 97%;
    height: 98%;
    justify-content: center;
    align-items: center;
    
}

.noteform {
    padding: 16px 0px;
    margin-top: 28px;
    padding-left: 20px;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    text-align: center;
    overflow: hidden;
    overflow-y: scroll;
    box-shadow: 0 0 10px 0 black;
}
.noteform::-webkit-scrollbar {
    display: none;
  }
.cabtt{
    right: 23px !important;
    bottom: 0px !important;
    top: 0px !important;
    position: sticky !important;
    float: right;
}
.c{
    width: 80%;
    padding: 0.5rem;
    border-radius: 22px;
    min-height: 100px;
    margin: 32px 0px !important;
    border: none;
    outline: none;
    margin:5px;
    font-size: 1.3rem;
}
.t{
    width: 80%;
    padding: 0.5rem;
    right: 26px;
    position: relative;
    margin:5px;
    border-radius: 22px;
    border: none;
    outline: none;box-shadow: 1px 7px 2px 2px rgb(121 114 114);
    font-size: 1.3rem;
    
}


.bd{
    right: 0px !important;
    bottom: 0px !important;
    top: 0px !important;
    position: sticky !important;
    float: right;
}

.b{
  position: absolute;
  right: -9px;
  bottom: -70px;
  background: #f5ba13 !important;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}
#lgpage{
    background: url(./flowerpot2.jpg) no-repeat center center/cover;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    margin: 0px -17px;
    justify-content: center;
    align-items: center;
}
.lgcontainer{
    padding: 43px 44px;
    margin: 0px 0px;
    min-height: 484px;
    display: flex;
    border: 5px solid #6d9f60;
    background: url(./flower\ pot.jpg) no-repeat center center/cover;
    flex-direction: column;
    border-radius: 14px;
    justify-content: center;
    position: relative;
    z-index: 2;
    box-shadow: 0 0 12px 0 black;
    align-items: center;
}
.lgform{
    padding: 31px 23px;
    max-width: 420px;
    margin-top: 18px;
    background-color: #cac8b111;
    text-align: center;
    box-shadow: 0 0 3px 0 black;
}
.glow{
    background-color: #6d9f60;
    height: 563px;
    filter: blur(50px);
    width: 518px;
    position: absolute;
    z-index: 2

}
.glowlg{
    background-color: #6d9f60bf;
    height: 491px;
    filter: blur(50px);
    width: 431px;
    position: absolute;
    z-index: 2;
}
.tl{
    width: 100%;
    padding: 0.5rem;
    margin:5px;
    border-radius: 22px;
    border: none;
    outline: none;
    font-size: 1.3rem;
    
}
.button{
    background-color: #6d9f60;
    padding: 6px 12px;
    margin-top: -7px;
    border: 2px solid rgb(24, 22, 26);
    cursor: pointer;
    border-radius: 15px;
    color: azure;
    box-shadow: 5px 2px 10px -4px #494848;
}
.button:hover{
    color:#026b5a;
    background-color: #d6d57a;
}
.eye{
    position: relative; 
    top: -36px;
    right: -166px;
}
.lgeye{
    position: relative;
    float: right;
    top: -37px;
}
.switchlogin{
    font-size: 0.95rem;
    margin-top: 15px;
    text-align: center;
    font-family: "mcLaren",cursive;
    color: #6d9f60;
    font-weight: 200;
}
.lgcontainer h1{
    color:#6d9f60;
}
.an{
    color: #05917f;
    font-size: medium;
    font-weight: 200;
}
.an:hover{
    color:#795548;
    cursor: pointer;
}

